#CalculateDiv {
    box-shadow: 1px 1px 2px 2px #999999;
    border-radius: 1px;
}

#obnizka {
    background-color: aqua;
    border-radius: 7px;
    width: auto;
    text-align: center;
    padding-block: 1px;
}

#row_discountdiv {
    padding-top: 7px;
}