#containerEdit {
    margin-block: 25px;
}

#editRow {
    box-shadow: 1px 1px 2px 2px #999999;
    border-radius: 1px;
    padding-block: 10px; 
    padding-inline: 20px;
}

.datasEdit { 
    padding-block: 10px;
}
.sumaEdit {
    padding-block: 10px;
}

.TitleEdit {
    font-size: 20px;
}

#cancelEdit {
    background-color: #dd3a3a;
    color: black;
    padding: 5px;
    box-shadow: 0 1px 6px #ccc;
    border-radius: 20px;
    margin-top: 15px;
    text-align: center;
    align-items: center;
    width: 200px;
    margin-left: auto; 
    margin-right: auto;
}

#confirmEdit { 
    text-decoration: none;
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    position: relative;
    background-color: #F6E71D;
    color: black;
    padding: 7px;
    box-shadow: 0 1px 6px #ccc;
    border-radius: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#usunProduct{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 1px 6px #ccc;

}

#itemPro {
    margin-block: 5px;
    font-size: 16px;
}

.sumaEdit{
    font-size: 19px;
    font-weight: 600;
    text-align: end;
}